body {
    background: #F2F2F2;
}

.login_block {
    height: 730px;
}

.login_form {
    background-color: #d5e1df;
    margin: 100px auto 0 auto;
    height: 620px;
    width: 490px;
    border-radius: 50px;
    text-align: center;
}



.login_title {
    color: #3b3a30;
}

.input_container {
    margin: 50px auto;
    display: flex;
}

.material-symbols-outlined {
    padding-top: 7px;
    color: #3b3a30;
}

.img_logo {
    height: 120px;
}

.input {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    width: 400px;
    background: none;
    border: none;
    border-bottom: 2px solid;
    color: #3b3a30;
}

input:focus, .input:focus::placeholder{
    color: #3b3a30;
    outline: none;
}

.input::placeholder {
    color: #3b3a30;
}

.input_file {
    display: flex;
    position: relative;
}

.visibility {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: translateY(-50%);
}

.login_btn {
    padding: 7px 30px;
    color: #ffffff;
    margin-top: 50px;
    font-size: 30px;
    background: #3b3a30;
    border: none;
    border-radius: 10px;
    transition: color .2s linear;
}


.login_btn:hover {
    background-color: #b2c2bf;
    color: #151515;
}

@media (max-width: 390px) {
    .visibility{
        top: 50%;
        right: -25px;
    }
    .login_block{
        height: 490px;
    }

    .login_form{
        margin:  50px auto 0 auto;
        width: 300px;
        height: 465px;
    }
    .img_logo {
        height: 80px !important;
    }
    .login_title h1{
        font-size: 30px;
    }
    .input_file{
        width: 215px;
        margin-bottom: 10px;
    }

    .log_form{
        margin: 20px auto;

    }

    .login_form  .input_container{
        margin: 20px auto;
    }

    .sup_title_container {
        margin-top: 10px !important;
        text-align: left;
        font-size: 16px !important;
        display: block !important;
    }
    .check_box{
        margin-top: -10px !important;
    }

    .forgot_pass{
        margin: 10px auto  !important;
    }

    .login_btn{
        margin: 10px auto -10px auto;
        padding: 5px 25px;
        font-size: 20px;
    }

    .singUp_container{
        font-size: 15px !important;
    }
}

.sup_title_container {
    margin-top: -30px;
    margin-left: 35px;
    font-size: 17px;
    display: flex;
    color: #3b3a30;
}

.forgot_pass {
    margin-left: 125px;
}

.forgot_pass a {
    font-weight: 700;
    text-decoration: none;
    color: #3b3a30;
}

.forgot_pass a:hover {
    color: #b2c2bf;
}

.singUp_container {
    margin: 10px auto;
    display: flex;
    font-size: 17px;
    justify-content: center;
    color: #3b3a30;
}

.singUp {
    text-decoration: none;
    color: #3b3a30;
    font-weight: 700;
    transition: color .25s linear;
}

.singUp:hover {
    color: #b2c2bf;
}